// .advantages {
//   // border: 1px solid black;
// }

.advantages__title {
  @include text(36px, 60px);
  margin-top: 0;
  font-weight: normal;
  color: $color-black;

  @media (min-width: $tablet-width) {
    @include text(60px, 60px);
    margin-top: 30px;
    margin-bottom: 63px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 70px;
    margin-top: 60px;
  }
}

.advantages__list {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 25px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 70px;
  }
}

.advantages__description {
  @include text(14px, 18px);
  position: relative;
  color: $color-darkgray;
  font-family: $font-family-basic;
  margin-bottom: 30px;
  padding-left: 80px;

  @media (min-width: $tablet-width) {
    @include text(16px, 24px);
    padding-left: 0;
    padding-right: 100px;
    padding-top: 100px;
    padding-bottom: 70px;
    width: 250px;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    padding-top: 108px;
    padding-right: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    min-height: 237px;
  }

  &::before {
    @include pseudo-element();
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background-color: $color-green;

    @media (min-width: $tablet-width) {
      width: 80px;
      height: 80px;
    }
  }
}

.advantages__description--natural {
  &::before {
    background-image: url("../img/advantage-leaf.png");
    background-position: center;
    background-repeat: no-repeat;
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/bg-instruction-one.png");
    background-repeat: no-repeat;
    background-position: 130px 0;
  }
}

.advantages__description--cooking {
  &::before {
    background-image: url("../../img/advantage-powder.png");
    background-position: center;
    background-repeat: no-repeat;
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/bg-instruction-two.png");
    background-repeat: no-repeat;
    background-position: 130px 0;
  }
}

.advantages__description--feeding {
  &::before {
    background-image: url("../../img/advantage-dining.png");
    background-position: center;
    background-repeat: no-repeat;
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/bg-instruction-three.png");
    background-repeat: no-repeat;
    background-position: 130px 0;
  }
}

.advantages__description--term {
  &::before {
    background-image: url("../../img/advantage-clock.png");
    background-position: center;
    background-repeat: no-repeat;
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/bg-instruction-four.png");
    background-repeat: no-repeat;
    background-position: 130px 0;
  }
}
