.advantages {
  margin-bottom: 47px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.advantages__title {
  @include text(36px, 60px);
  margin-top: 18px;
  font-weight: normal;
  color: $color-black;

  @media (min-width: $tablet-width) {
    @include text(60px, 60px);
    margin-bottom: 50px;
    margin-top: 40px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 60px;
  }
}

.advantages__list {
  @include no-list();
  counter-reset: myCounter;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 25px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 0;
  }
}

.advantages__description {
  @include text(14px, 18px);
  position: relative;
  color: $color-darkgray;
  font-family: $font-family-basic;
  margin-bottom: 26px;
  padding-left: 80px;

  &:nth-last-child(1) {
    margin-bottom: 48px;
  }

  @media (min-width: $tablet-width) {
    @include text(16px, 24px);
    padding-left: 0;
    padding-right: 50px;
    padding-top: 110px;
    margin-bottom: 0;
    margin-top: 25px;
    min-height: 290px;
    width: 300px;

    &:nth-last-child(1) {
      margin-bottom: 0;
    }
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    padding-top: 108px;
    padding-right: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    min-height: 237px;
  }

  &::before {
    @include pseudo-element();
    top: -2px;
    left: 0;
    width: 60px;
    height: 60px;
    background-color: $color-green;

    @media (min-width: $tablet-width) {
      width: 80px;
      height: 80px;
    }
  }

  &::after {
    @media (min-width: $tablet-width) {
      @include pseudo-element();
      top: 75px;
      left: 80px;
      z-index: -1;
      counter-increment: myCounter;
      content: counter(myCounter);
      color: #f2f2f2;

      @include text(281px, 281px);
      display: inline-block;
      text-align: center;
      margin: 5px 10px;
      line-height: 40px;
      width: 40px;
      height: 40px;
    }
  }
}

.advantages__description--natural {
  &::before {
    background-image: url("../img/advantage-leaf@1x.png");
    background-position: center;
    background-repeat: no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-leaf@2x.png");
      background-size: 50px auto;
    }
  }
}

.advantages__description--cooking {
  &::before {
    background-image: url("../../img/advantage-powder@1x.png");
    background-position: center;
    background-repeat: no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-powder@2x.png");
      background-size: 50px auto;
    }
  }
}

.advantages__description--feeding {
  &::before {
    background-image: url("../../img/advantage-dining@1x.png");
    background-position: center;
    background-repeat: no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-dining@2x.png");
      background-size: 50px auto;
    }
  }
}

.advantages__description--term {
  &::before {
    background-image: url("../../img/advantage-clock@1x.png");
    background-position: center;
    background-repeat: no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-clock@2x.png");
      background-size: 50px auto;
    }
  }
}
