.button {
  @include text(16px, 20px);
  display: block;
  font-weight: normal;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  border: none;
  cursor: pointer;

  // width: 280px;
  padding: 10px 20px;
  background-color: $color-green;
  color: #ffffff;

  // @media (min-width: $tablet-width) {
  //   width: 249px;
  // }

  // @media (min-width: $desktop-width) {
  //   width: 169px;
  // }

  &:hover {
    color: #ffffff;
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5eaa2f;
  }
}
