.button {
  display: block;
  box-sizing: border-box;
  font-family: $font-family-main;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  border: none;

  @include button(
    $width: 280px,
    $padding: 10px 20px,
    $font-size: 14px,
    $line-height: 18px
  );

  &:hover {
    color: #ffffff;
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5eaa2f;
  }
}
