.catalog-extra {
  position: relative;
  margin-bottom: 37px;

  @media (min-width: $tablet-width) {
    margin-bottom: 75px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 15px;
  }
}

.catalog-extra__title {
  position: relative;
  z-index: 1;
  margin-left: -22px;
  padding-right: 22px;
  padding-left: 22px;
  margin-top: 27px;
  margin-bottom: 32px;

  @include text(24px, 24px);
  font-weight: 400;
  color: $color-black;
  display: inline-block;
  background-color: $color-white;

  @media (min-width: $tablet-width) {
    @include text(36px, 36px);
    margin-top: 0;
    margin-left: 0;
    padding-left: 37px;
    padding-right: 30px;
    margin-bottom: 81px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 39px;
    margin-left: -39px;
  }
}

.catalog-extra__extra-goods-wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.catalog-extra__goods-wrapper {
  margin-bottom: 42px;

  @media (min-width: $tablet-width) {
    margin-bottom: 70px;
  }
}

.catalog-extra__good-card {
  border-top: 1px solid $color-gray;
  border-bottom: 1px solid $color-gray;

  @media (min-width: $tablet-width) {
    border: 1px solid $color-gray;
    padding: 0 40px;
    padding-bottom: 28px;
  }
}

.catalog-extra__promo {
  margin-bottom: 10px;
  text-align: center;
  background-color: $color-green;
  background-image: url("../img/gift-photo-desktop@1x.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/gift-photo-desktop@2x.jpg");
    background-repeat: no-repeat;
    background-size: 280px auto;
  }

  @media (min-width: $tablet-width) {
    min-height: 200px;
    background-image: url("../img/gift-photo-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
      background-repeat: no-repeat;
      background-size: 708px auto;
    }
  }

  @media (min-width: $desktop-width) {
    height: 289px;
    background-image: url("../img/gift-photo-desktop@1x.jpg");
    width: 245px;
    margin-bottom: 68px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
      background-repeat: no-repeat;
      background-size: 245px auto;
    }
  }
}

.catalog-extra__promo-description {
  @include text(16px, 20px);
  position: relative;
  font-weight: 400;
  color: $color-white;
  font-family: $font-family-basic;

  padding-top: 181px;
  padding-right: 50px;
  padding-bottom: 45px;
  padding-left: 50px;

  @media (min-width: $tablet-width) {
    width: 620px;
    text-align: left;
    padding-top: 71px;
    padding-bottom: 40px;
    padding-right: 20px;
    padding-left: 423px;

    @media (min-width: $desktop-width) {
      width: 245px;
      padding-top: 170px;
      padding-right: 30px;
      padding-bottom: 20px;
      padding-left: 30px;
      text-align: center;
    }
  }

  &::before {
    @include pseudo-element();
    top: 66px;
    left: 113px;

    width: 56px;
    height: 61px;
    background-image: url("../img/icon-gift.svg");
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      top: 65px;
      left: 90px;
    }

    @media (min-width: $desktop-width) {
      top: 49px;
      left: 96px;
    }
  }
}
