.catalog {
}

.catalog__title {
  font-size: $font-size-mobile-h2;
  line-height: 60px;
}

.catalog__table {
  font-size: 12px;
  line-height: 16px;
  font-family: $font-family-basic;
  color: $color-darkgray;
}

.catalog__value {
}

.catalog__field {
}

.catalog__card-title {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.catalog__good-card {
}

.catalog__good-image {
}

.catalog__extra-title {
  font-size: 24px;
  line-height: 24px;
}

.catalog__promo {
}

.catalog__promo-description {
  font-size: $font-size-mobile-p;
  line-height: 20px;
  font-family: $font-family-basic;
  color: $color-white;
}

.catalog__promo-background-image {
}

.catalog__show-all-button {
}
