.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright__link-text {
  @include text(16px, 16px);
  @include zero-indent();
  text-decoration: none;
  font-family: $font-family-basic;
  color: $color-darkgray;

  @media (min-width: $tablet-width) {
    margin-right: 16px;
  }
}

.copyright__link-icon {
  padding-top: 4px;
  margin-right: -6px;
}
