.footer__contacts--white {
  background-color: $color-white;
}

.footer__contacts--gray {
  background-color: $color-gray;
}

.footer__logo {
  text-align: center;
}

.footer__wrapper {
  @include container();
}

.footer__inner {
  // @include container();
  background-color: $color-gray;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.footer__logo-link {
  margin: 0 auto;
}

.footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
