.footer .footer__contacts {
  background-color: $color-white;
}

.footer__wrapper {
  width: $mobile-width;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-gray;
}

.footer__logo-name {
  text-align: center;
}

.footer__social {
  display: flex;
  justify-content: space-between;
}

.footer__copyright {
  display: flex;
  justify-content: space-between;
}
