.header {
  @include container();

  display: flex;
  flex-direction: column;
}

.header__wrapper {
  display: flex;
  align-items: center;
  border-bottom: 1px solid $color-gray;

  justify-content: space-between;
}

.header__logo svg {
  padding-top: 10px;
  padding-bottom: 15px;
}

.header__toggle {
  width: 25px;
  height: 19px;

  background-color: transparent;
  border: none;

  background-image: url("../img/icon-mobile-menu.svg");
  background-repeat: no-repeat;
}

@media (min-width: $tablet-width) {
  .header__logo {
    height: 60px;
  }
}

@media (min-width: $desktop-width) {
  .header__logo {
    height: 60px;
  }
}
