.programs {
  @media (min-width: $tablet-width) {
    margin-bottom: 45px;
  }
}

.programs-wrapper {
  // display: flex;
  // flex-direction: column;
  // align-items: center;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin: 0 auto;
  }
}

.programs__card {
  position: relative;
  padding: 0 20px;
  padding-top: 10px;
  padding-bottom: 20px;
  margin-bottom: 16px;
  background-color: $color-gray;

  @media (min-width: $tablet-width) {
    padding-left: 52px;
    padding-right: 20px;
    padding-bottom: 60px;
    padding-top: 76px;
    margin-bottom: 28px;
  }

  @media (min-width: $desktop-width) {
    // padding-right: 0;
    width: 570px;
  }
}

.programs__description--slim {
  @media (min-width: $tablet-width) {
    width: 375px;
    padding-right: 275px;
  }

  @media (min-width: $desktop-width) {
    width: 462px;
    padding-right: 35px;
  }
}

.programs__description--weight {
  @media (min-width: $tablet-width) {
    padding-right: 315px;
    width: 340px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 35px;
    width: 445px;
  }
}

.programs__title {
  @include text(24px, 37px);
  position: relative;

  // padding-top: 29px;
  padding-left: 70px;
  margin-bottom: 29px;

  font-weight: normal;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    @include text(36px, 37px);
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 25px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 162px;
    margin-bottom: 73px;
  }

  &::before {
    @include pseudo-element();
    top: -6px;
    left: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $color-green;

    @media (min-width: $tablet-width) {
      top: 15px;
      left: 393px;
      width: 200px;
      height: 200px;
    }

    @media (min-width: $desktop-width) {
      top: -30px;
      left: 0;
      width: 100px;
      height: 100px;
    }
  }
}

.programs__title--slim {
  &::after {
    @include pseudo-element();
    top: -9px;
    left: 9px;

    width: 35px;
    height: 49px;
    background-image: url("../../img/icon-cat-slim.svg");
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      top: 4px;
      left: 425px;

      width: 141px;
      height: 194px;
    }

    @media (min-width: $desktop-width) {
      top: -35px;
      left: 15px;

      width: 71px;
      height: 97px;
    }
  }
}

.programs__title--weight {
  &::after {
    @include pseudo-element();
    top: 5px;
    left: -7px;

    width: 67px;
    height: 28px;
    background-image: url("../../img/icon-cat-pro.svg");
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      top: 60px;
      left: 360px;

      width: 268px;
      height: 113px;
    }

    @media (min-width: $desktop-width) {
      top: -8px;
      left: -18px;

      width: 134px;
      height: 57px;
    }
  }
}

.programs__description {
  @include text(14px, 18px);
  padding-bottom: 21px;
  margin-bottom: 19px;
  border-bottom: 1px solid #d9d9d9;

  font-family: $font-family-basic;
  color: $color-darkgray;

  @media (min-width: $tablet-width) {
    @include text(16px, 24px);
    padding-bottom: 35px;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    // padding-bottom: 30px;
    padding-right: 0;
    margin-bottom: 10px;
  }
}

.programs__link {
  position: relative;

  @include text(16px, 16px);
  text-decoration: none;
  text-transform: uppercase;
  color: $color-black;

  @media (min-width: $tablet-width) {
    @include text(20px, 20px);
  }

  &:active {
    opacity: 0.3;
  }

  &::after {
    @include pseudo-element();
    width: 25px;
    height: 12px;
    top: 7px;
    right: -37px;
    background-image: url("../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      top: 10px;
      right: -48px;
      // left: 131px;
    }
  }

  &:hover,
  &:focus {
    &::after {
      background: url("../img/icon-right-arrow-verylong.svg") no-repeat center;
      width: 34px;
      height: 12px;
      top: 10px;
      right: -57px;
    }
  }
}
