.promo-block {
  @include container();
  position: relative;

  text-align: center;

  &::before {
    @include pseudo-element();

    top: 0;
    left: 0;
    right: 0;
    z-index: -1;

    height: 305px;
    background-image: url("../../img/index-background-mobile.jpg");
    background-position: top center;
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      background-color: $color-white;
      background-image: none;
    }

    @media (min-width: $desktop-width) {
      @include pseudo-element();
      top: -175px;
      left: 50%;
      height: 696px;
      background-color: #63a73a;
      background-image: url("../img/index-background-desktop.jpg");
      background-position: top left;
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 570px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 350px;
  }
}

.promo-block__wrapper {
  position: relative;

  @media (min-width: $tablet-width) {
    padding-left: 100px;
    display: flex;
    flex-direction: column;
  }
}

.promo-block__title {
  @include zero-indent();
  @include text(36px, 36px);
  padding-top: 60px;
  color: $color-white;
  font-weight: normal;

  @media (min-width: $tablet-width) {
    @include text(60px, 60px);
    width: 550px;
    text-align: left;
    color: $color-black;
    padding-right: 208px;
    order: -3;
  }
}

.promo-block__slogan {
  @include zero-indent();
  @include text(14px, 14px);
  padding-top: 33px;
  margin-bottom: 48px;
  text-transform: uppercase;
  color: $color-white;
  font-weight: normal;

  @media (min-width: $tablet-width) {
    @include text(20px, 20px);
    color: $color-black;
    text-align: left;

    padding-top: 33px;
    order: -2;
  }
}

.promo-block__image {
  display: block;
  position: relative;
  margin: 0 auto;

  margin-top: 29px;

  @media (min-width: $tablet-width) {
    width: 709px;
    height: 609px;

    top: 225px;
    left: 35px;

    z-index: -1;

    @include pseudo-element();
  }

  @media (min-width: $desktop-width) {
    width: 552px;
    height: 499px;

    top: -35px;
    left: 490px;
  }
}

.promo-block__button {
  position: relative;

  @include text(14px, 18px);

  @media (min-width: $tablet-width) {
    @include text(20px, 20px);
    padding-top: 15px;
    padding-bottom: 15px;
    width: 200px;
  }
}
