.slider {
}

.slider__input {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.slider__cat-image-before {
}

.slider__cat-image-after {
}

.slider__before {
}

.slider__after {
}
