.usecases {
  @include container();
  position: relative;
  background-color: $color-gray;
  padding-top: 10px;
  padding-bottom: 30px;

  @media (min-width: $tablet-width) {
    z-index: -2;
    background-color: $color-white;

    &::before {
      z-index: -1;

      @include pseudo-element();
      bottom: 0;
      left: 0;

      height: 462px;
      width: 100%;
      background-image: linear-gradient(to right, $color-gray 50%, #eaeaea 50%);
    }
  }
}

.usecases__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.usecases__results-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    margin-bottom: 100px;
    // margin-right: 42px;
    margin-top: 52px;

    flex-direction: row;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
  }
}

.usecases__result {
  display: flex;
  justify-content: space-between;
}

.usecases__result-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;

  width: 124px;
  height: 56px;

  border: 1px solid #cdcdcd;

  @media (min-width: $tablet-width) {
    width: 162px;
    margin-right: 42px;
  }
}

.usecases__title {
  @include text(36px, 60px);
  @include zero-indent();
  font-weight: normal;

  @media (min-width: $tablet-width) {
    @include text(60px, 60px);
    padding-top: 50px;
  }
}

.usecases__value {
  @include text(24px, 24px);
  text-transform: uppercase;
  font-family: $font-family-main;

  @media (min-width: $tablet-width) {
    @include text(30px, 37px);
  }
}

.usecases__field {
  @include text(12px, 12px);
  color: $color-darkgray;
  font-family: $font-family-basic;
  margin-left: 0;

  @media (min-width: $tablet-width) {
    @include text(14px, 14px);
  }
}

.usecases__description {
  @include text(14px, 18px);
  color: $color-darkgray;
  font-family: $font-family-basic;
  width: 266px;

  @media (min-width: $tablet-width) {
    @include text(16px, 24px);
    margin: 0;
    padding-top: 60px;
    width: 700px;
  }

  @media (min-width: $desktop-width) {
    width: 430px;
  }
}

.usecases__costs {
  @include text(14px, 20px);
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    @include text(20px, 20px);
    width: 190px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    width: 370px;
    text-align: left;
  }
}

.usecases__costs-span {
  @media (min-width: $desktop-width) {
    margin-right: 50px;
  }
}

.usecases__slider {
  @media (min-width: $desktop-width) {
    align-self: flex-end;
  }
}
