@import "variables.scss";
@import "mixins.scss";
@import "blocks/header/header.scss";
@import "blocks/header/header__logo-image.scss";
@import "blocks/header/header__logo.scss";
@import "blocks/main/main.scss";
@import "blocks/main-nav/main-nav.scss";
@import "blocks/main-nav/main-nav__wrapper.scss";
@import "blocks/main-nav/main-nav__toggle.scss";
@import "blocks/main-nav/main-nav__list.scss";
@import "blocks/promo-block/promo-block.scss";
@import "blocks/promo-block/promo-block__button.scss";
@import "blocks/promo-block/promo-block__title.scss";
@import "blocks/programs/programs.scss";
@import "blocks/programs/programs__card.scss";
@import "blocks/programs/programs__description.scss";
@import "blocks/programs/programs__link.scss";
@import "blocks/programs/programs__title.scss";
@import "blocks/advantages/advantages.scss";
@import "blocks/advantages/advantages__title.scss";
@import "blocks/advantages/advantages__description.scss";
@import "blocks/usecases/usecases.scss";
@import "blocks/usecases/usecases__title.scss";
@import "blocks/usecases/usecases__costs.scss";
@import "blocks/usecases/usecases__description.scss";
@import "blocks/usecases/usecases__field.scss";
@import "blocks/usecases/usecases__value.scss";
@import "blocks/usecases/usecases__result.scss";
@import "blocks/usecases/usecases__results-wrapper.scss";
@import "blocks/usecases/usecases__slider.scss";
@import "blocks/contacts/contacts.scss";
@import "blocks/contacts/contacts__title.scss";
@import "blocks/contacts/contacts__map.scss";
@import "blocks/contacts/contacts__address.scss";
@import "blocks/form/form.scss";
@import "blocks/form/form__button.scss";
@import "blocks/form/form__checkbox.scss";
@import "blocks/form/form__description.scss";
@import "blocks/form/form__element-title.scss";
@import "blocks/form/form__input.scss";
@import "blocks/form/form__label.scss";
@import "blocks/form/form__notion.scss";
@import "blocks/form/form__radio.scss";
@import "blocks/form/form__text.scss";
@import "blocks/form/form__title.scss";
@import "blocks/catalog/catalog.scss";
@import "blocks/catalog/catalog__title.scss";
@import "blocks/catalog/catalog__card-title.scss";
@import "blocks/catalog/catalog__table.scss";
@import "blocks/catalog/catalog__value.scss";
@import "blocks/catalog/catalog__field.scss";
@import "blocks/catalog/catalog__subscription.scss";
@import "blocks/catalog/catalog__extra-title.scss";
@import "blocks/catalog/catalog__promo-description.scss";
@import "blocks/footer/footer__contacts.scss";
@import "blocks/footer/footer__wrapper.scss";
@import "blocks/button/button.scss";

body {
  background-color: $bgrnd-color-white;
  color: $text-color-basic;
  font-family: $font-family-main;
  min-width: 320px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: no-wrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
