$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1300px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$color-white: #ffffff;
$color-gray: #f2f2f2;
$color-darkgray: #444444;
$color-black: #111111;
$color-green: #68b738;
$color-subtitle: #222222;
$color-error: #ff8282;
$color-icon: #666666;

$border-color-gray: #cdcdcd;

$font-size-mobile-h2: 36px;
$font-size-mobile-h3: 24px;
$font-size-mobile-p: 14px;

$line-height-mobile-text: 18px;

$font-family-main: "Oswald", "Arial", sans-serif;
$font-family-basic: "Arial", sans-serif;
