$bgrnd-color-white: #ffffff;
$bgrnd-color-gray: #f2f2f2;
$bgrnd-color-green: #68b738;

$text-color-basic: #111111;
$text-color-p: #444444;

$border-color: #cdcdcd;

$font-size-mobile-h2: 36px;
$font-size-mobile-h3: 24px;
$font-size-mobile-p: 14px;

$line-height-mobile-text: 18px;

$font-family-main: "Oswald", "Arial", sans-serif;
$font-family-basic: "Arial", sans-serif;
