.programs__card {
  margin: 0;
  margin-top: 20px;
  width: 280px;
  height: 266px;
  background-color: $bgrnd-color-gray;

  &--slim::after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 50px;
    height: 51px;
    border-radius: 50px;
    background-color: $bgrnd-color-green;
  }

  &--slim::before {
    content: "";
    position: absolute;
    z-index: 100;
    width: 35px;
    height: 49px;
    background-image: url("../../img/icon-cat-slim.svg");
    background-repeat: no-repeat;
  }

  &--weight::after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 50px;
    height: 51px;
    border-radius: 50px;
    background-color: $bgrnd-color-green;
  }

  &--weight::before {
    content: "";
    position: absolute;
    z-index: 100;
    width: 67px;
    height: 28px;
    background-image: url("../../img/icon-cat-pro.svg");
    background-repeat: no-repeat;
  }
}
